@{
	@model SitePassword
}

<h1>Create</h1>
<div class="row">
	<div class="col-md-4">

		<form asp-action="GetType" method="get" id="typeForm">
			<div class="form-group">
				<label class="control-label">Type</label>
				<select class="form-control" id="secretTypeSelect" name="SecretType">
					<option value="@EnumSecretType.Pincode">@EnumSecretType.Pincode</option>
					<option value="@EnumSecretType.SitePassword" selected>@EnumSecretType.SitePassword</option>
				</select>
			</div>
		</form>

		<form asp-action="CreateSitePassword" method="post" id="mainForm">
			<div class="form-group">
				<label class="control-label">@Html.DisplayNameFor(model => model.Name)</label>
				<input type="text" asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label class="control-label">@Html.DisplayNameFor(model => model.Value)</label>
				<div class="input-group">
					<input type="password" asp-for="Value" value="@Model.Value" class="form-control" id="masterPasswordInput" />
					<button type="button" class="btn btn-outline-secondary" id="togglePasswordBtn" tabindex="-1">Show</button>
				</div>
				<span asp-validation-for="Value" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label class="control-label">@Html.DisplayNameFor(model => model.SiteURL)</label>
				<input type="text" asp-for="SiteURL" class="form-control" />
				<span asp-validation-for="SiteURL" class="text-danger"></span>
			</div>

			<br/>
			<button type="submit" class="btn btn-primary">Create</button>
			<a asp-action="Index" class="btn btn-secondary">Back</a>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		</form>
	</div>
</div>